{% extends "base.html" %}

{% block main-content %}
    <div id="sessions_chart_container" style="width: 100%; height: 250px"></div>
    <div id="addtocart_chart_container" style="width: 100%; height: 250px"></div>
    <!--<div id="totalsales_chart_container" style="width: 100%; height: 250px"></div>-->
    <div id="ordervalue_chart_container" style="width: 100%; height: 250px"></div>
    <div id="rps_chart_container" style="width: 100%; height: 250px"></div>
        
    <p>
        <a href="#" id="pause">Pause</a>
    </p>
{% end %}

{% block bottom-js %}
    <script type="text/javascript">
        var sessionsChart;
        var addtocartChart;
//        var totalsalesChart;
        var ordervalueChart;
        var rpsChart;

        $(document).ready(function() {
            sessionsChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'sessions_chart_container',
                    type: 'line'
                },
                title: {text: 'Sessions'},
                yAxis: {
                    title: {text: 'Session Count'}
                },
                series: [
                    {
                        name: 'Control Sessions',
                        data: []
                    },
                    {
                        name: 'Experiment Sessions',
                        data: []
                    }
                ]
            });
            addtocartChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'addtocart_chart_container',
                    type: 'line'
                },
                title: {text: 'Add To Cart'},
//                xAxis: {
//                    categories: ['Apples', 'Bananas', 'Oranges']
//                },
                yAxis: {
                    title: {text: '%'}
                },
                series: [
                    {
                        name: 'Control Add To Cart %',
                        data: []
                    },
                    {
                        name: 'Experiment Add To Cart %',
                        data: []
                    }
                ]
            });
//            totalsalesChart = new Highcharts.Chart({
//                chart: {
//                    renderTo: 'totalsales_chart_container',
//                    type: 'line'
//                },
//                title: {text: 'Total Sales'},
////                xAxis: {
////                    categories: ['Apples', 'Bananas', 'Oranges']
////                },
//                yAxis: {
//                    title: {text: '$'}
//                },
//                series: [
//                    {
//                        name: 'Control Total Sales',
//                        data: []
//                    },
//                    {
//                        name: 'Experiment Total Sales',
//                        data: []
//                    }
//                ]
//            });
            ordervalueChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'ordervalue_chart_container',
                    type: 'line'
                },
                title: {text: 'Average Order Value'},
//                xAxis: {
//                    categories: ['Apples', 'Bananas', 'Oranges']
//                },
                yAxis: {
                    title: {text: '$'}
                },
                series: [
                    {
                        name: 'Control AOV',
                        data: []
                    },
                    {
                        name: 'Experiment AOV',
                        data: []
                    }
                ]
            });
            rpsChart = new Highcharts.Chart({
                chart: {
                    renderTo: 'rps_chart_container',
                    type: 'line'
                },
                title: {text: 'Revenue Per Session'},
//                xAxis: {
//                    categories: ['Apples', 'Bananas', 'Oranges']
//                },
                yAxis: {
                    title: {text: '$'}
                },
                series: [
                    {
                        name: 'Control RPS',
                        data: []
                    },
                    {
                        name: 'Experiment RPS',
                        data: []
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        var ws = new WebSocket("ws://{{ ui_host }}:{{ ui_port }}/d/metrics");
        ws.onopen = function() {
            // campaign id, maybe send as json?
            ws.send("{{ account_id }}/{{ campaign_id }}");
        };
        ws.onmessage = function(evt) {
            //window.console.log(evt.data);

            d = $.parseJSON(evt.data);

            var groupControlSeries = sessionsChart.series[0];
            var groupExperimentSeries = sessionsChart.series[1];
            var shift = ((groupControlSeries.data.length > 20) || (groupExperimentSeries.data.length > 20));

            // TODO: DRY this up.

            var groupControl = parseInt(d['group_control']);
            if (!isNaN(groupControl)) {
                sessionsChart.series[0].addPoint(groupControl, true, shift);
            }
            var groupExperiment = parseInt(d['group_experiment']);
            if (!isNaN(groupExperiment)) {
                sessionsChart.series[1].addPoint(groupExperiment, true, shift);
            }

            var addToCartControl = parseFloat(d['add_to_cart_control']);
            if (!isNaN(addToCartControl)) {
                addtocartChart.series[0].addPoint(addToCartControl, true, shift);
            }
            var addToCartExperiment = parseFloat(d['add_to_cart_experiment']);
            if (!isNaN(addToCartExperiment)) {
                addtocartChart.series[1].addPoint(addToCartExperiment, true, shift);
            }

//            var totalSalesControl = parseInt(d['total_sales_control']);
//            if (!isNaN(totalSalesControl)) {
//                totalsalesChart.series[0].addPoint(totalSalesControl, true, shift);
//            }
//            var totalSalesExperiment = parseInt(d['total_sales_experiment']);
//            if (!isNaN(totalSalesExperiment)) {
//                totalsalesChart.series[1].addPoint(totalSalesExperiment, true, shift);
//            }

            var orderValueControl = parseInt(d['order_value_control']);
            if (!isNaN(orderValueControl)) {
                ordervalueChart.series[0].addPoint(orderValueControl, true, shift);
            }
            var orderValueExperiment = parseInt(d['order_value_experiment']);
            if (!isNaN(orderValueExperiment)) {
                ordervalueChart.series[1].addPoint(orderValueExperiment, true, shift);
            }

            var rpsControl = parseInt(d['session_control']);
            if (!isNaN(rpsControl)) {
                rpsChart.series[0].addPoint(rpsControl, true, shift);
            }
            var rpsExperiment = parseInt(d['session_experiment']);
            if (!isNaN(rpsExperiment)) {
                rpsChart.series[1].addPoint(rpsExperiment, true, shift);
            }
        };

        $('#pause').bind('click', function() {
            ws.send("pause");
        });
    </script>
{% end %}
